
<div id="video">
  <h1>SpotyViu</h1>
  <p>Reproduciendo: {{playing}}</p>
  <video [width]="360" [height]="240" id="videoPlayer" controls  type="video/mp4"></video>
</div>

<h1>Videojuegos disponibles:</h1>

<div *ngIf="videojuegos">
  <article *ngFor="let videojuego of videojuegos; let i=index">
    <span>{{videojuego.categoria}}</span>
    
    <div *ngFor="let video of videojuego.video">
      <app-video [video]="video" (videoToPlay)="playVideo(video)"></app-video>
      
    </div>
    <hr>
  </article>

</div>